Welcome <%=current_user.email%>
<br/>

<div id="accordion">
    <h3><a href="#">First header</a></h3>
    <div>
    	<%= form_for @demographic, :url=>{:action=>'create'} do |f|%>
    		<table>
    			<tr>
    				<td>First Name:</td>
    				<td><%= f.text_field :first_name%></td>
    			</tr>
    			<tr>
    				<td>Last Name:</td>
    				<td><%= f.text_field :last_name%></td>
    			</tr>
    			<tr>
    				<td>Email:</td>
    				<td><%= f.text_field :email%></td>
    			</tr>
    			<tr>
    				<td>Mobile:</td>
    				<td><%= f.text_field :mobile%></td>
    			</tr>
    			
    		</table>
    	<% end %>
    </div>
    <h3><a href="#">Second header</a></h3>
    <div>Second content</div>
    <h3><a href="#">Third header</a></h3>
    <div>Third content</div>
</div>
