<%= javascript_include_tag "swfobject" %>	
<a href="http://apycom.com/"></a>

<%= javascript_include_tag "jquery.vticker.1.4" %>
<%= javascript_include_tag "jquery.innerfade" %>


<%= javascript_include_tag "menu" %>
<%= javascript_include_tag "scripts" %>
<%= javascript_include_tag "jquery.osmplayer.compressed" %>
<%= javascript_include_tag "jquery.media.template.default.compressed" %>



<script type="text/javascript">

$(document).ready(function() {
    $('#myslider').vTicker({
		   speed: 2500,
		   pause: 3000,
		   showItems : 2,
		   animation: 'slide',
		   mousePause: true,
		   height: 204,
		   direction: 'up'
		   
		});
		 $('#test_slider').innerfade({
						speed: 4000,
						timeout: 5000,
						type: 'sequence',
						containerheight: '220px'
					});
		  
		   
		   $('#blog_slider').vTicker({
		   speed: 2500,
		   pause: 3000,
		   showItems : 2,
		   animation: 'slide',
		   mousePause: true,
		   height: 172,
		   direction: 'down'
		   
		});
		
		
});

</script>


<!--Flash Coverflow-->

<script type="text/javascript">

var flashvars = {};
var params = {};
params.scale = "noscale";
params.salign = "tl";
params.wmode = "transparent";
var attributes = {};
swfobject.embedSWF("swf/CoverFlowFX.swf", "DivCoverFlowFX", "800", "400", "9.0.0", false, flashvars, params, attributes);			

</script>


<div class="flash-coverflow">
	
	<div id="DivCoverFlowFX">
			<a href="http://www.adobe.com/go/getflashplayer">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		</div>
	</div>

<!-- Content Wrapper -->
	<div class="content-wrapper">
	
	<div class="content-container">
	
	<div class="news-container-border">
	
	<!-- News Scroller -->
	<div class="news-wrapper" >
	<h1>Latest News & Events </h1>
	<div id="myslider">
	<ul>
	<% @news.each do |test| %>
	<% if test.message_type==1 %>
	<li>
	<div class="news-item-container">
	
		
		<div class="news-item-description">
		<a href=""><h2><%=  test.message_text_short %></h2></a>
		<p>
		<%=  test.message_text_long %>
		</p>
		
		</div>
		
	</div>
	</li>
	<%  elsif  test.message_type==2 %>
	
	                   <li>
                                <div class="date-box">
                                    <a href="/Blog/BlogB.aspx?Id=177&amp;AuthorId=2">
                                    <em>
                                    	<%= test.event_date.strftime( "%B" ) %>
                                     </em><span>
                                        <%= test.event_date.strftime( "%d" ) %>
                                    </span>
                                    </a>
                                </div>
                                <div class="blog-text">
                                    <h4><a href="#"><%= test.message_text_short %></a></h4>
                                    <span class="posted">Place:</span>
                                    <h3>
                                       <%= test.message_text_long %>
                                    </h3>
                                </div>
                          </li>
                          <% end %>
                        
                            <% end %>
	
	</ul>
	</div>
	
	</div>	
	
	<!-- Testimonials -->
	<div class="news-wrapper testimonal">
	
	<h1>Members Speak</h1>	

	<ul id="test_slider">
	<li>
	<img src="images/member-spk.jpg" class="memb-spk-img">
	
	<div class="membr-spk-desk">
	<h2>Members Name</h2>
	<em>Owner: PaperCity Magazine</em>
	</div>
	<h3>"Sample testimonial heading here.."</h3>
	<p>Ive engaged TOS to plan, design and develop PaperCitys website and other digital initiatives. This is something I have...<a href="">{Read more}</a></p>
	</li>
	
	
	<li>
	<img src="images/member-spk.jpg" class="memb-spk-img">
	
	<div class="membr-spk-desk">
	<h2>John Bravo</h2>
	<em>Owner: PaperCity Magazine</em>
	</div>
	<h3>"Helloooo"</h3>
	<p>Ive engaged TOS to plan, design and develop PaperCitys website and other digital initiatives. This is something I have...<a href="">{Read more}</a></p>
	</li>
	</ul>

	</div>	
	
	<!-- Events -->
	<div class="news-wrapper events">
	<h1>Daily</h1>	
	<div id="blog_slider">
	<ul class="blog">  
              	<% @news.each do |test| %>
                <% if test.message_type==3 %>   
                <li>
             
                         
                                   
                                <div class="blog-text">
                                         <h4><a href="#">Thoughts</a></h4>
                                
                                    <h3>
                                        <%= test.message_text_long %>
                                    <h3>
                                </div>
                          </li>
                <% elsif test.message_type==4 %>
                <li>
                 
                                <div class="blog-text">
                                   
                                   <h4><a href="#">Jokes</a></h4>
                                    <h3>
                                        <%= test.message_text_long %>
                                    <h3>
                                </div>
                          </li>
                 <% elsif test.message_type==5 %>
                  <li>
                 
                                <div class="blog-text">
                                    <h4>Question <% test.id %> </h4>
                                  
                                    <h3>
                                        <%= test.message_text_long %>
                                    <h3>
                                </div>
                          </li>
                  <% elsif test.message_type==6 %>
                  <li>
                 
                                <div class="blog-text">
                                    <h4>Question <% test.id %> </h4>
                                  
                                    <h3>
                                        <%= test.message_text_long %>
                                    <h3>
                                </div>
                          </li>
                
                    
                <% end %>
              <% end %>
         </ul>	
				</div>
				</div>	
	</div>
	</div>
    </div>
	
	
	