
<style>
	#home_address, #business_address{
		display: none;
		background-color: '#CECECE';
	}
	td{
		border-width:0px;
	}
	
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 0.1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
</style>
<%=javascript_include_tag "userinfo/jquery.blockUI" %>
<script>

$(document).ready(function(){
  $("#accordion").accordion({
      change: function(event, ui) {
      $('.ui-accordion-content').css('height','');
      $( ".selector" ).accordion( "option", "active", 2 ); 
    }
    }); 
    
  $('#home').click(function(){
			$.blockUI({	 message: ($('#home_address')), css: { width: 'auto', cursor: 'auto', background: '#CECECE' } });
		})
		$('#business').click(function(){
			$.blockUI({	 message: ($('#business_address')), css: { width: 'auto', cursor: 'auto', background: '#CECECE' } });
	})
});
</script>

<div id="container" class="clearfix">
Welcome <%=current_user.email%>
<br/>


<div id="accordion">
    <h3><a href="#">Demographic Information</a></h3>
    <div>
    	<%= form_for @demographic, :url=>{:controller=>'home', :action=>'create_update'} do |f|%>
    		<table>
    			<tr>
    				<td>First Name:</td>
    				<td><%= f.text_field :first_name%></td>
    			</tr>
    			<tr>
    				<td>Last Name:</td>
    				<td><%= f.text_field :last_name%></td>
    			</tr>
    			<tr>
    				<td>Email:</td>
    				<td><%= f.text_field :email%></td>
    			</tr>
    			<tr>
    				<td>Mobile:</td>
    				<td><%= f.text_field :mobile%></td>
    			</tr>
    			<tr>
    				<td>DoB:</td>
    				<td><%= f.date_select :dob, :start_year => 1970%></td>
    			</tr>
    			<tr>
    				<td><a href="javascript:void(0)" id="home">Home Address</a></td>
    			</tr>
    			<tr>
    				<td><a href="javascript:void(0)" id="business">Business Address</a></td>
    			</tr>
    			<tr>
    				<td><a href="javascript:void(0)" id="communication">Communication Address</a></td>
    			</tr>
    			<tr id="home_address" >
    				<td>
    					<div style="background-color: grey; font-weight: bold"><span style="float:right"><a href="javascript:void(0)" onclick="$.unblockUI()" style="color:#000000">X&nbsp;</a></span><span style="color:red">Home Address</span></div>
    					<%= fields_for :home_address do |h| %>
    					<table>
    						<tr>
    							<td>Address 1:</td>
    							<td><%= h.text_field :line1%></td>
    						</tr>
    						<tr>
    							<td>Address 2:</td>
    							<td><%= h.text_field :line2%></td>
    						</tr>
    						<tr>
    							<td>City:</td>
    							<td><%= h.text_field :city%></td>
    						</tr>
    						<tr>
    							<td>District:</td>
    							<td><%= h.text_field :district%></td>
    						</tr>
    						<tr>
    							<td>State:</td>
    							<td><%= h.text_field :state%></td>
    						</tr>
    						<tr>
    							<td>Pin code:</td>
    							<td><%= h.text_field :pincode%></td>
    						</tr>
    						<tr>
    							<td>Country:</td>
    							<td><%= h.text_field :country%></td>
    						</tr>
    					</table>
    					<%end%>
    				</td>
    			</tr>
    			<tr id="business_address" >    				
    				<td>
    					<div style="background-color: grey; font-weight: bold"><span style="float:right"><a href="javascript:void(0)" onclick="$.unblockUI()" style="color:#000000">X&nbsp;</a></span><span style="color:red">Business Address</span></div>
    					<%= fields_for :business_address do |b| %>
    					<table>
    						<tr>
    							<td>Address 1:</td>
    							<td><%= b.text_field :line1%></td>
    						</tr>
    						<tr>
    							<td>Address 2:</td>
    							<td><%= b.text_field :line2%></td>
    						</tr>
    						<tr>
    							<td>City:</td>
    							<td><%= b.text_field :city%></td>
    						</tr>
    						<tr>
    							<td>District:</td>
    							<td><%= b.text_field :district%></td>
    						</tr>
    						<tr>
    							<td>State:</td>
    							<td><%= b.text_field :state%></td>
    						</tr>
    						<tr>
    							<td>Pin code:</td>
    							<td><%= b.text_field :pincode%></td>
    						</tr>
    						<tr>
    							<td>Country:</td>
    							<td><%= b.text_field :country%></td>
    						</tr>
    						<tr>    							
    							<td><input type="button" onclick="$.unblockUI()" value="Close"/></td>
    						</tr>
    					</table>
    					<%end%>
    				</td>
    			</tr>
    			<tr>
    				<td><%= f.submit %></td>
    			</tr>
    		</table>
    	<% end %>
    	
    </div>
    <h3><a href="#">Psychographic Information</a></h3>
    <div>Second content</div>
    <h3><a href="#">Become a Member</a></h3>
    <div>Third content</div>
</div>
</div>
</div>
