

<h2>Contact</h2>
<% form_for :user do |form| %>


<%= form.label :name %>
<%= form.text_field :name %>

<%= form.label :address %>
<%= form.text_field :address %>

<%= form.label :phoneno %>
<%= form.text_field :phoneno %>

<%= form.label :email %>
<%= form.text_field :email %>

<%= form.label :comment %>
<%= form.text_field :comment %>


<%= submit_tag "Login!", :class => "submit" %>




<% end %>
